*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-transform: capitalize;
}

.p-container{
    width: 50%;
    margin: 0 auto;
    border: 2px solid wheat;
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: #f3f3f3;
    border-radius: 5px;
}
.p-container .image img{
    width: 100%;
    height: auto;
}
.content{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.content h1{
    font-size: 25px;
    font-weight: 900;
}
.content span{
    font-size: 25px;
    font-weight: 600;
}
.container p{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
}
.writing p{
    font-size: 15px;
    font-weight: 900;
}

.p-container button{
    padding: 10px 15px;
    margin-top: 10px;
    font-size: 25px;
    background-color: blue;
    border-radius: 5px;
    cursor: pointer;
}